<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>1</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,68}</string>
        <key>spriteSourceSize</key>
        <string>{48,68}</string>
        <key>textureRect</key>
        <string>{{5,6},{48,68}}</string>
      </dict>
      <key>2</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,68}</string>
        <key>spriteSourceSize</key>
        <string>{48,68}</string>
        <key>textureRect</key>
        <string>{{57,6},{48,68}}</string>
      </dict>
      <key>3</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,68}</string>
        <key>spriteSourceSize</key>
        <string>{48,68}</string>
        <key>textureRect</key>
        <string>{{114,6},{48,68}}</string>
      </dict>
      <key>4</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{48,68}</string>
        <key>spriteSourceSize</key>
        <string>{48,68}</string>
        <key>textureRect</key>
        <string>{{167,6},{48,68}}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>realTextureFileName</key>
      <string>..\texture\8bitfaces.png</string>
      <key>size</key>
      <string>{222,75}</string>
      <key>textureFileName</key>
      <string>..\texture\8bitfaces.png</string>
    </dict>
  </dict>
</plist>